.navegacion {
    background-color: #28A745;
}

#form {
    background-color: #28A745;
    text-align: center;
}

.navimg {
    width: 86px;
    height: 25px;
}



body {
    font-family: 'Comic Neue', cursive;
    }